@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero{
    background-image: url('./assets/img2.jpg');
}

.bg-broken{
    background-image: url('./assets/img1.jpg');
    background-size: cover;
    background-blend-mode: soft-light;


}